.gray {
    color: gray;
}

.d-flex{
    display: flex;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}


.aling-center{
  align-items: center;
}


.gap-5{
    gap: 5px;
}
.gap-7{
    gap: 7px;
}
.gap-8{
    gap: 8px;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}


.mt-20{
  margin-top: 20px;
}

.mt-30{
  margin-top: 30px;
}

.mt-40{
  margin-top: 40px;
}

.mt-50{
  margin-top: 50px;
}