:root{
    --mainColor: #6C63FF;
    --circleColor: #6b63ffa6;
}




.main-page-container{
    position: relative;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    background-color: white;

    z-index: 4;
}



/* main-page data ******************************/

.dashboard-data{
    height: 100%;
    padding: 20px;
    width: 60%;
    overflow-y: scroll;
}

.dashboard-first-thing {
    display: flex;
    justify-content: space-between;
}

.dashboard-first-thing button{
    background-color: white;
    color: var(--mainColor);

    border: 1px solid var(--mainColor);
    border-radius: .5em;

    width: 120px;
    height: 50px;

    cursor: pointer;
}

.dashboard-data .card-1{
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: flex-start;
    gap: 20px;

    align-items: center;

}
.dashboard-data .card-1 img{
    height: 130px;
    width: 130px;
    
    object-fit: cover;
    border-radius: 50%;
}


.dashboard-data .card-1 .dashboard-data-user-crednetials p{
    color: gray;
}

/* main-page data ******************************/


/* main-page accessories ************************/

.dashboard-accessories{
    width: 10%;
    background-color: rgba(0, 0, 255, 0.299);
}

/* main-page accesories *************************/

@media screen and (min-width:900px){
    .main-page-container{
        padding: 10px;
    }
    .sidebar-phone{
        display: none;
    }
}

@media screen and (max-width:900px) {
    .main-page-container{
        display: block;
    }
    .sidebar-pc {
        display: none;
    }
    .dashboard-accessories{
        display: none;
    }
    .dashboard-data{
        width: 100%;
    }
}