:root {
    --mainColor: #6c63ff;
    --circleColor: #6b63ffa6;
  }

.post-ad-container{
    background-color: white;
    height: 100%;
    width: 100%;
}

.post-ad-container .ad-header{
    height: 50vh;
    width: 100%;
    

    background-image: url("https://plainbackground.com/plain1024/abaaa5.png");

    background-repeat: no-repeat;
    background-position:  50% 50%;
    background-size: cover;
}

.post-ad-container .ad-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.post-ad-container .button-pos{
    display: flex;
    justify-content: center;
}
.post-ad-container button{
    width: 100%;
    height: 50px;

    background-color: white;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: .5em;

    cursor: pointer;

    transition: .4s;
}

.post-ad-container button:hover{
    background-color: var(--mainColor);
    color: white;
    border: none;
}


@media screen and (max-width:900px) {
    .post-ad-container .ad-info{
        display: block;
        margin-top: 20px;

        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%,-50%);

    }

    .post-ad-container .ad-info .add-texts{
        margin-bottom: 20px;
    }
}