:root{
    --mainColor: #6C63FF;
    --circleColor: #6b63ffa6;
}


/* sidebar ****************************/


.sidebar-container{
    width: 300px;
    height: 100vh;
    /* padding: 10px; */
    border-right: 1px solid rgb(203, 203, 203);
}



.sidebar-container .sidebar-logo img{
    width: 100px;
    height: auto;
    padding: 20px;
    cursor: pointer;
}

.sidebar-container .sidebar-links{
    list-style: none;
    text-decoration: none;
    /* margin: 10px; */
}

.sidebar-container .sidebar-links .li{
    font-size:18px;
    padding: 10px;
    margin: 15px 0;
    cursor: pointer;
    transition: .4s;
}

.sidebar-container .sidebar-links .li:hover{
    background-color: rgba(225, 224, 224, 0.838);
}


.sidebar-container .sidebar-links .li .a {
    color: gray;
    text-decoration: none;
    padding: 15px;
}


.sidebar-container .sidebar-links .li .icon{
    color: var(--mainColor);
    margin-right: 20px;
    font-size: 20px;
    margin: 0px 10px;
}



.sidebar-container .sidebar-account-data{
    display: flex;
    position: absolute;
    bottom: 5%;
    gap: 10px;
    padding: 30px 5px;
}


.sidebar-container .sidebar-account-data .account-image{
    position: relative;
}


.sidebar-container .sidebar-account-data img{
    height: auto;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    backface-visibility: hidden;
}

.sidebar-container .sidebar-account-data .mad-pic{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    backface-visibility: hidden;
}

.sidebar-container .sidebar-account-data .account-image .add-image{
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 35%;
    font-size: 30px;
    transition: .5s ease;
    cursor: pointer;
}


.sidebar-container .sidebar-account-data .account-image:hover img{
    opacity: 0.3;
  }
  
.sidebar-container .sidebar-account-data .account-image:hover .add-image {
    opacity: 1;
  }
  

  .sidebar-container .sidebar-account-data .account-data h3::after{
    width: 80%;
    background: var(--mainColor);
    display: block;
    margin-right: auto;
    content: '';height: 1px;
  }

  .sidebar-container .sidebar-account-data .account-data p{
    color: gray;
    font-size: 14px;
  }




.sidebar-container .sidebar-settings {
    position: absolute;
    bottom: 0;
    padding: 20px 0px;
    display: flex;
    gap: 10px;
}

.sidebar-container .sidebar-settings .icon{
    color: var(--mainColor);
    text-align: center;
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.sidebar-container .sidebar-settings p {
    color: gray;
}

  









                                    /* smalll sidebar */

                                    .small-sidebar{
                                        width: 100px;
                                      }

                                    .sidebar-container .sidebar-links .li .none{
                                        display: none;
                                    }
                                    
                                    .sidebar-container .sidebar-links .li .icon-small{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 20px;
                                        font-size: 25px;
                                    }

                                    .sidebar-container .padding-10{
                                        padding: 10px;
                                    }


                                    .sidebar-container .sidebar-account-data .none{
                                        display: none;
                                      }
                                      
                                      .sidebar-container .sidebar-account-data .left-10{
                                       left: 10%;
                                      }

                                      .sidebar-container .h1-none{
                                        display: none;
                                    }
                                    
                                    
                                    /* smalll sidebar */



/* sidebar ******************************/
