@import url('./Navbar.css');
@import url('./Header.css');
@import url('./Register.css');
@import url('./MainPage.css');
@import url('./Error.css');
@import url('./EditProfile.css');
@import url('./Sidebar.css');
@import url('./Catalog.css');
@import url('./PostAdd.css');
@import url('./Cart.css');
@import url('./checkOut.css');

@import url('./fastCss.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

:root{
    --mainColor: #6C63FF;
}

.purple{
  color: var(--mainColor);
}
.arrow-link-global a{
    color: gray;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}


.arrow-link-global a .icon{
    color: var(--mainColor);
    font-size: 30px;
    transform: rotateY(180deg)
}


























/* foooter styles*/
