@import url('./Navbar.css');
@import url('./Header.css');
@import url('./Register.css');
@import url('./MainPage.css');
@import url('./Error.css');
@import url('./EditProfile.css');
@import url('./Sidebar.css');
@import url('./Catalog.css');
@import url('./PostAdd.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

:root{
    --mainColor: #6C63FF;
}

.gray {
    color: gray;
}

.purple {
    color: var(--mainColor);
}

.d-flex{
    display: flex;
}


.gap-5{
    gap: 5px;
}
.gap-7{
    gap: 7px;
}
.gap-8{
    gap: 8px;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}

.arrow-link-global a{
    color: gray;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}


.arrow-link-global a .icon{
    color: var(--mainColor);
    font-size: 30px;
    transform: rotateY(180deg)
}
